@charset "utf-8";
@import "normalize";
@import "skeleton";
@import "grid";

/* Formatting */
ul {
  list-style-type: none;

  li {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.main {
  padding: 0.5%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography */
$sans: "Muli", sans-serif;
$serif: "Linux Libertine", Times, serif;

body, h1, h2, h3, h4, h5, h6 { 
  font-family: $sans;
}

p {
  font-family: $sans;
}

/* Header */
$gradient-color1: #16222A;
$gradient-color2: #3A6073;

.header {
  background: $gradient-color1;
  background: -webkit-linear-gradient(left top, $gradient-color1 , $gradient-color2);
  background: -o-linear-gradient(bottom right, $gradient-color1, $gradient-color2);
  background: -moz-linear-gradient(bottomright, $gradient-color1, $gradient-color2);
  background: linear-gradient(to left, $gradient-color1 , $gradient-color2);
  padding-bottom: 25px;
  padding-top: 40px;

  h1 {
    margin-bottom: 0.8rem;
    font-weight: 400;
    
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  h6 {
    margin-bottom: 0.6rem;
    color: #fff;
  }
 
  ul {
    text-align: center;
    cursor: default;
    margin-top: 20px;
    
    li {
      display: inline;

      a {
        background-color: #fff;
        color: $gradient-color2;
        text-decoration: none;
      }
    }

    li:not(:last-child) {
      margin-right: 14px;
    }
  }
}


/* Footer */
$light-gray: #b0bfc7;
$dark-gray: #678494;

.footer {
  border-top: 1px solid $light-gray;
  color: $light-gray;
  margin-top: 30px;

  .info {
    ul {
      margin-top: 6px;

      li {
        margin-bottom: -5px;
        font-size: 13px;

        a {
          color: $light-gray;
          text-decoration: none;

          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }
  .icons {
    font-size: 28px;
    text-align: right;

    ul {
      cursor: default;

      li {
        display: inline;
        
        a {
          color: $light-gray;

          &:hover {
            color: $dark-gray;
          }

          i {
            margin-right: 0;
          }
        }
      }
    }
  }
}

/* Miscellaneous */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100;
  @include media-query(600px) {
    height: 100%;
  }
}

.btn {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1px 8px;
  padding-bottom: 3px;
}

.about-header {
  line-height: 30px;
  font-family: $sans;
  font-size: 36px;
}

.about-subheader {
  line-height: 30px;
  font-family: $sans;
  font-size: 24px;
}

.about-body {
  font-size: 16px;
  font-family: $sans;
}

.mini-container {
  margin: 0 auto;
  max-width: 600px;

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 10px;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.profile-picture {
  border-radius: 50%;
  display: inline-block;
  float: left;
  max-width: 200px;
  margin: 0 20px 10px 0;
  @include media-query(600px) {
    max-width: 160px;
  }
}


/* home page ( resources ) */
.box {
  height: 23.76vw;
  width: 24%;
  background-color: white;
  float: left;
  margin: 0.5%;
  border: 2px solid black;

  img {
    width: 100%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .box {
    height: 15.503vw;
    width: 15.66%;
  }
}
