<div class="footer">
  <div class="row">
    <div class="eight columns info">
      <ul>
        <li>Email me anytime! I love getting 'em!</li>
        <li><a href="mailto:an.joseph892@gmail.com"><i class="icon-mail"></i>an.joseph892@gmail.com</a></li>
        <li>&copy;Joseph An</li>
      </ul>
    </div>

    <div class="four columns icons">
      <ul>
        <li><a href="https://www.github.com/josephan" target="_blank"><i class="icon-github-circled"></i></a></li>
        <li><a href="https://twitter.com/an_joseph" target="_blank"><i class="icon-twitter"></i></a></li>
        <li><a href="https://linkedin.com/in/josaph" target="_blank"><i class="icon-linkedin-squared"></i></a></li>
      </ul>
    </div>
  </div>
</div>
