<div class="header">
  <h1 class="text-center"><i><%= link_to 'Joseph An', '/' %></i></h1>
  <h6 class="text-center"><i>...is a developer living in Toronto.</i></h2>

  <ul class="text-center">
    <li><%= link_to 'About', '/about', class: "btn" %></li>
    <li><%= link_to 'Blog', '/blog', class: "btn" %></li>
  </ul>

</div>

