<div class="header">
  <h1 class="text-center"><%= link_to 'Joseph An', '/' %></h1>
  <h6 class="text-center">...is a developer living in Toronto.</h2>

  <ul class="text-center">
    <li><%= link_to 'about', '/about' %></li>
    <li><%= link_to 'blog', '/blog' %></li>
  </ul>

</div>

