<div class="mini-container">
  <%= image_tag 'profile_picture.jpg', class: "profile-picture" %>
    <h5 class="about-header">Hi, my name is Joseph!</h5>
    <h5 class="about-subheader">I am optimistic about the future and enjoy working with others to create a better and more prosperous world.</h5>
    <p class="about-body">Currently I work at FundThrough as a Full-Stack Developer. The technology I use there is Ruby on Rails on the back-end and AngularJS on the front-end.</p>
    <p></p>
</div>
