<div class="mini-container">
  <p>Hey there, my name is Joseph!</p>
  <p>I am optimistic about the future and enjoy working with others in an aim to create a better world.</p>
  <p>Currently I work at FundThrough as a Full-Stack developer. The technology we use there is Ruby on Rails on the back-end and AngularJS on the front-end.</p>
  <p>My hobbies are building real world computer applications, exercising, reading books, practising the piano, and listening to classical music!</p>
</div>
