<div class="row">
  <div class="four columns">
    <h2 class="project-header">cycloplan</h2>
    <p class="project-description">Is an online planner. Plan the things you know you should be doing and do it everyday.</p>
  </div>
  <div class="eight columns project-card"></div>
</div>
