<div class="gallery">
  <% data.resources.each do |r| %>
    <a href="<%= r.url %>" target="_blank" class="gallery-link">
      <div class="box">
        <p class="header"><%= r.header %></p>
        <p class="subheader"><%= r.subheader %></p>
      </div>
    </a>
  <% end %>
</div>
